{% include '_header.html.twig' %}
{% include 'partials/flash.html.twig' %}


{% block title %}
    Liste des burgers 
{% endblock %}

{% block body %}
    Voici la liste burgers
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for burger in burgers %}
                <tr>
                     <td>
                         <a href="{{ path('burger_edit', {id: burger.id}) }}">{{ burger.name }}</a>
                     </td>
                    <td>
                        <a class="btn btn-primary btn-sm" href="{{ path('burger_edit', {id: burger.id}) }}">Edit</a>
                    </td>

                    <td>
                        <form action="{{ path('burger_remove', {id: burger.id}) }}">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-primary" href="{{ path('burger_new') }}">Ajouter</a>
{#    <nav> <a href="{{   path('somme')  }}">Lien vers la somme</a></nav> #}
{% endblock %}

{% include '_footer.html.twig' %} 